.page {
  max-width: 1000px;
}

.author__avatar {
  margin-bottom: 10px;
  max-width: 120px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.author__bio {
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 8px;
}

.author__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.sidebar {
  padding: 2em 1em;
}

.author__urls-wrapper {
  margin-top: 16px;
}

.author__content {
  line-height: 1.4;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

/* Fix text-over-face on splash page by adding left-to-right overlay gradient */
.page__hero--overlay {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0.1) 80%);
}

